.puck-css,
.puck-css * {
  --border: 240 28% 92%;
  --primary: 241 86% 65%;
  --primary-foreground: 0 0% 100%;
  --secondary: 257 51% 90%;
  --secondary-foreground: 0 0% 0%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 0%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --radius: 2rem;
  --ring: 215 20.2% 65.1%;
  --input: 214.3 31.8% 91.4%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --popover: 225 7% 12%;
  --popover-foreground: 0 0% 100%;
}

.puck-header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: var(--puck-space-px);
  width: 100%;
  border-bottom: 1px solid var(--puck-color-grey-09);

  .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .header-center {
    gap: 16px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .actions {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}

.loading-screen {
  .wrapper {
    width: 100vw;
    height: 100vh;
    justify-content: center;
  }

  .progress {
    width: 30%;
  }
}

.sm-icon {
  height: 1rem;
  width: 1rem;
}
