buildConfiguration:
  buildCommand: npm run build
  installDependenciesStep:
    command: npm install
    requiredFiles:
      - package.json
      - package-lock.json
      - .npmrc
livePreviewConfiguration:
  setupCommand: ":"
siteStream:
  id: site-stream
  entityId: ve-site
  fields:
    - defaultLayouts.visualConfiguration
    - pagesTheme.themeConfiguration
  localization:
    locales:
      - en
# authentication:
#   policyName: auth-policy
#   includePaths:
#     - /edit