@tailwind base;
@tailwind components;
@tailwind utilities;

.components {
  --border: 214 100% 39%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --radius: 2rem;
  --ring: 215 20.2% 65.1%;
  --input: 214.3 31.8% 91.4%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 225 7% 12%;
  --popover-foreground: 0 0% 100%;
}