@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  grid-area: header;
  padding: 16px;

  .header-logo {
    max-width: 144px;
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  .header-links {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: flex-end;

    .link {
      display: flex;
      gap: 16px;
    }
  }
}

.footer {
  display: flex;
  padding: 16px;
  flex-direction: column;

  .footer-top {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .links {
    display: flex;
    flex: 1;
    justify-content: flex-start;

    .link {
      display: flex;
      margin-right: 16px;
    }
  }

  .social-links {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .copyright-msg {
    padding-top: 16px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
    margin-left: 16px;
  }
}

.core {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;

  .phone-section {
    padding-top: 8px;
    display: flex;
    align-items: center;

    .phone {
      margin-right: 8px;
      font-weight: bold;
    }
  }

  .icon {
    @apply text-blue-500;
    margin-right: 8px;
  }

  .email {
    padding-top: 16px;
    align-items: center;
  }

  .link {
    @apply text-blue-500;  
  }

  .section {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .heading {
    margin-bottom: 8px;
    font-weight: bold;
  }
}

html {
  --yxt-hoursTable-col1-width: 128px;
  --yxt-hoursTable-col2-width: 256px;
}

.HoursTable-row {
  display: flex;
}

.HoursTable-day {
  flex: 0 0 var(--yxt-hoursTable-col1-width);
}

.HoursTable-intervals {
  display: flex;
  flex-direction: column;
  flex: 0 0 var(--yxt-hoursTable-col2-width);
}