@tailwind base;
@tailwind components;
@tailwind utilities;

.components,
.components * {
  --border: 214 100% 39%;
  --primary: 0 68% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 11 100% 26%;
  --secondary-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --accent: 166 55% 67%;
  --accent-foreground: 0 0% 0%;
  --radius: 2rem;
  --ring: 215 20.2% 65.1%;
  --input: 214.3 31.8% 91.4%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --background: 0 0% 100%;
  --foreground: 0 2% 11%;
  --popover: 225 7% 12%;
  --popover-foreground: 0 0% 100%;
}
