.is-today {
  font-weight: 700;
}

.HoursTable-row {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.components .HoursTable-intervals {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
