.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: var(--puck-space-px);
  border-bottom: 1px solid var(--puck-color-grey-09);

  .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .header-center {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .actions {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}
