.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: var(--puck-space-px);
  border-bottom: 1px solid var(--puck-color-grey-09);

  .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .header-center {
    gap: 16px;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .actions {
    flex: 1;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}

.entity-picker {
  .dropdown-button {
    background-color: #181818;
    color: #ffffff;
    padding: 7px 19px;
    font-size: 14px;
    font-weight: 400;
    gap: 8px;
    font-family: InterVariable, sans-serif;
  }

  .current-entity-item {
    background-color: #cbd5e0;
  }
}

.entity-confirmation-modal {
  [aria-label="Close"] {
    display: none;
  }

  .content-line {
    margin-bottom: 3px;
  }

  .close-button {
    background-color: #dcdcdc;
  }

  .primary-button {
    color: #ffffff;
    background-color: #0158ad;
  }

  .footer {
    justify-content: space-between;
  }
}
